[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "pytorch"
verify_ssl = true
name = ""

[packages]
torch = { index = ""}
mlagents-envs = {file = "Dependencies/ml-agents-envs", editable = true}
mlagents = {file = "Dependencies/ml-agents", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
